.hascorrect {
    display: inline-block;
    background: lightblue!important; /* light green for correct */
    border: 1px solid #3c763d;
    color: #1b5e20;
    padding: 0 0.15em;
    border-radius: 2px;
}

.hasnocorrect {
    display: inline-block;
    background: lightblue!important; /* light blue */
    border: 1px solid #7bc1f7;
    box-shadow: 3px 3px #e6f4ff inset;
    font-style: italic;
    color: #0b3d66;
    padding: 0 0.15em;
    border-radius: 2px;
}
