.hascorrect {
    display: inline-block;
    background: lightblue;
    border: 1px solid #3c763d;
    color: #1b5e20;
    padding: 0 0.15em;
    border-radius: 2px;
}

.hasnocorrect {
    display: inline-block;
    background: lightblue;
    border: 1px solid #7bc1f7;
    box-shadow: 3px 3px #e6f4ff inset;
    font-style: italic;
    color: #0b3d66;
    padding: 0 0.15em;
    border-radius: 2px;
}

.tinybackground {
    background: lightgrey;
    color: #55595c;
}

.clickarea {
    width: 100%;
    height: 300px;
    border: 1px solid #ccc;
    padding: 10px;
    box-sizing: border-box;
    background-color: #fff;
    display: block;
}